<header>
    <div class="language">
        <a class="french" href="?lang=fr"><img src="../static/language/france.png" alt=""></a>
        <a class="english" href="?lang=en"><img src="../static/language/anglais.png" alt=""></a>
    </div>
    <div>
        <button class="back-button" onclick="window.location.href='/'">Retour</button>
    </div>
</header>