<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pokemon.css') }}">
    <link rel="icon" href="../static/pokeball.png" />
    <title>Document</title>
</head>
<body>

    {%  include 'header.jinja' %}

    <div class="pokemon">
        <div class="general">
            <div class="name">
                <h1>{{pokemon.name[request.args.get('lang', 'fr')]}}</h1>
                <img class="image" src="https://studies.delpech.info/api/pokemons/dataset/{{pokemon.id}}/svg" alt="">
            </div>
    
            <div class="infos">
                <p>Description : {{pokemon.description[request.args.get('lang', 'fr')]}}</p>
                <p>Poids : {{pokemon.weight}} kg</p>
                <p>Taille : {{pokemon.height}}0 cm</p>
                <p>Genre : {{pokemon.genus[request.args.get('lang', 'fr')]}}</p>
            </div>
        
            <div class="stats">
                <p>Nom : {{pokemon.name[request.args.get('lang', 'fr')]}}</p>
                
                {% for i in pokemon.types %}
                    <p class="type">Type : {{i.name[request.args.get('lang', 'fr')]}}</p>
                {% endfor %}
        
                {% for i in pokemon.stats %}
                    <p>{{i.name}} : {{i.stat}}</p>
                {% endfor %}
            </div>
        </div>
    </div>

</body>
<script src="../static/js/pokemon.js"></script>
</html>